.item__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.item__detail h2 {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.item__detail p {
  font-size: 1rem;
  margin-bottom: 12px;
}

.img__frame {
  display: flex;

  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 4px;
}

.img__crop {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}