.item__link {
  color: #000000;
  padding: 5px 5px;
  margin: 0 5px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.title {
  margin-top: 15px;
}

.item__list__container {
  display: flex;
  justify-content: center;
}

.item__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.item__list h2 {
  font-size: 1.5rem;
  margin: 0;
  bottom: 0;
}

.img__frame {
  display: flex;

  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 4px;
}

.img__crop {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {
  .item__list__container {
    flex-direction: column;
    align-items: center;
  }
}
