.navbar .nav__link {
  color: #ffffff;
  padding: 5px 5px;
  margin: 0 5px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar .nav__link:hover {
  color: cyan;
}

.navbar-brand img {
  max-height: 40px;
}
