.cocktails__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  .cocktails__container {
    flex-direction: column;
    align-items: center;
  }
}
